---
import AlpineCounter from '@components/AlpineCounter.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Habit.">
    <div class="flex items-center justify-between">
        <h1 class="text-5xl font-bold text-gray-200">Simple Habits</h1>
    </div>
    <AlpineCounter />
</Layout>
